<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="item"
		class="com.springdemos.springcore.shopping.Item">
		<property name="items">
			<list>
			<value>Grocery</value>
			<value>Clothes</value>
			<value>Toys</value>
			</list>
		
		</property>
	</bean>

	<bean name="cart"
		class="com.springdemos.springcore.shopping.Cart">
		<property name="Shopping">
			<ref bean="item" />
		</property>

	</bean>

</beans>